.document-container {
  border-radius: 4px;
  border: 1px dashed #e1e1e1;
  width: 100%;
  display: flex;
  padding-block: 24px;

  //   flex-direction: row;
  .cloud-icon {
    margin-left: 5px;
    align-self: center;
    background-color: #f1f2f5;

    border-radius: 30px;

    .icon {
      width: 24px;
      height: 24px;
      padding-left: 10px;
      padding-block: 5px;
    }
  }

  .flex-div {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      margin-bottom: 0px;
      color: #4b4b4b;
    }
    .accept {
      color: #98a2b3;
    }
    .margin-left {
      margin-left: 5px;
    }
  }
}
.cardStyle {
  width: 100%;

  border-radius: 4px;
  border: 1px solid #e4e7ec;
  background-color: #fff;
  transition: 0.3s;
  color: #4b4b4b;

  // height: 100px;

  .cardContainer {
    display: flex;
  }
  .goalImg {
    width: 30%;
    margin-left: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      // border-top-left-radius: 5px;
      // border-bottom-left-radius: 5px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .rightContent {
    width: 70%;
    padding-inline: 10px;
    word-wrap: break-word;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    p {
      overflow-wrap: break-word;
    }

    .goalName {
      color: #4b4b4b;
      overflow-wrap: break-word;

      font-family: Inter;
      // font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 133.333% */
    }
  }
}
.sdg-group {
  h3 {
    color: #4b4b4b;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  margin-bottom: 15px;

  .notification-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 19px;
    color: #d66f0f;
    background-color: #fdf2e7;
    border: 1px solid #f08829;
    border-radius: 4px;
    max-width: 688px;
    margin: 0 auto;
    margin-bottom: 32px;
    .notification-content {
      display: flex;
      align-items: center;
      h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #d66f0f;
        margin: 0;
        margin-left: 17px;
      }
      span {
        font-size: 16px;
      }
    }
    button.notif-close-button {
      box-shadow: none;
      border: none;
      background: transparent;
      outline: none;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: inline-block;
  }

  li.custom-sdg-group {
    display: inline-flex;
    // margin-bottom: 24px;
    .custom-sdg-details {
      margin-left: 12px;
      max-height: 64px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h4,
    p {
      margin: 0;
    }
    h4 {
      line-height: 16px;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      color: #0d0f11;
    }
    p {
      font-size: 10px;
      color: #677684;
      line-height: 16px;
      letter-spacing: 0.2 px;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }

  label.custom-sdg-label {
    display: inline-flex;
    padding: 8px;
  }

  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }

  label img {
    height: 64px;
    width: 64px;
    opacity: 0.5;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  :checked + label {
    border-color: #ddd;
    border: 2px dashed #d66f0f;
    box-sizing: border-box;
    margin: 8px;
  }

  :checked + label img {
    transform: scale(0.8);
    z-index: -1;
    opacity: 1;
  }
  :checked + label.custom-sdg-label img {
    z-index: 1;
  }

  .custom-sdg-container {
    .sdg-button-container {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 2px solid #bac2c9;
      h2 {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .edit-custom-sdg-container {
    h2 {
      margin: 0;
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
    }
  }
}
.programme-success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 44px;
  h3 {
    margin-top: 19px;
    margin-bottom: 7px;
  }
  p {
    // padding-top: 0;
    margin-top: 0;
    margin-bottom: 32px;
  }
  &__content {
    margin-block: 20px;
    color: red;
  }
}
