@import "../styles/config";
@import "../styles/abstract";
.login {
  max-width: 960px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  //   box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  //   border-radius: 5px;
  //   padding: 40px;

  h3 {
    font-weight: 600;
    color: $header-blue;
    font-size: 36px;
    line-height: 40px;
    font-family: $font-inter;
    margin-bottom: 4px;
    color: #041644;
  }

  h5 {
    font-weight: 400;
    color: $header-blue;
    font-size: 20px;
    font-family: $font-inter;
    line-height: 30px;
    font-weight: 600;
    color: #041644;
    margin-bottom: 0;
  }

  p {
    text-align: center;
    font-size: 16px;
  }
  p:last-child {
    color: #3a434b;
    font-weight: 600;
  }

  &__input {
    height: 40px;
    font-size: 0.9rem;
    border-color: #d7dce0;
    border: 1px solid #d7dce0;
  }

  &__btn {
    @extend %btn;
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }
  .ant-btn {
    @extend %btn;
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }

  &__btn2 {
    @extend %btn;
    background-color: $member-button-color;
    border-color: $member-button-color;
  }

  &__btnInvite {
    background-color: #fce9e9;
    color: #ca1b1b;
    padding: 10px 10px 28px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
  }
  .login__group {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 40px;
    &__button {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 24px 19px;
      height: auto;
      width: 48%;
      background: #f7faff !important;
      border: none;
      border: 1.5px solid #9da9b3 !important;
      border-radius: 12px !important;
      // .ant-radio-button {

      // }
      span {
        .button-content-container {
          display: flex;
          flex-direction: column;
          .content-container {
            display: flex;
            justify-content: space-between;
            .icon {
              color: #9da9b3;
              font-size: 21px;
            }
          }
          .button-content {
            margin-top: 14px;
            color: #3a434b;
            h2 {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 16px;
              margin: 0;
              // color: #3A434B;
            }
            p {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              margin: 0;
              margin-top: 4px;
              padding: 0;
              text-align: left;
            }
          }
        }
      }
      &:hover {
        border: 1.5px solid #d66f0f !important;
        span {
          .button-content-container {
            .button-content {
              h2,
              p {
                color: #0d0f11;
              }
            }
          }
        }
      }
      &::before {
        background-color: transparent !important;
      }
      &:active,
      &:focus {
        background: #f7faff !important;
      }
    }
    .isActive {
      border: 1.5px solid #d66f0f !important;
      span {
        .button-content-container {
          .content-container {
            .icon {
              color: #d66f0f;
            }
          }
          .button-content {
            h2,
            p {
              color: #0d0f11;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .ant-col-xs-20 {
    display: flex;
    max-width: 100%;
    flex: 1;
    .login {
      width: 100%;
      margin: 0 auto;
      transform: translate(-50%, -50%);
      position: inherit;
      top: 50%;
      left: 50%;
      padding: 50px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      form .ant-row {
        justify-content: center;
      }
      .sm-text-center {
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .login {
    form .ant-row {
      display: inline-block;
      width: 100%;
      .ant-col-xs-12 {
        max-width: 100%;
      }
    }
  }
}
